<form
  #form2="ngForm"
  (ngSubmit)="updateFootballerss(form2.value)"
  class="updform"
>
  <div class="rmform" *ngFor="let a of FootballerssList">
    <input type="radio" name="id" value="{{ a.id }}" ngModel />
    <label for="id">{{ a.title }}</label>
  </div>
  <input
    type="text"
    placeholder="Name of the Footballers"
    name="title"
    ngModel
  />
  <input
    type="number"
    min="1"
    max="5000"
    placeholder="Age of the Footballers"
    name="age"
    ngModel
  />
  <input
    type="text"
    placeholder="Info of the Footballers"
    name="info"
    ngModel
  />
  <input type="submit" class="addbutton" value="Update Footballers!" />
</form>
