<div><h1>Лабораторна робота 2</h1></div>
<div class="card">
  <a href="./Servlet1">Servlet1</a>

  <button (click)="getFootballers()">Get Footballers</button>

  <ul>
    <li *ngFor="let ani of footballersList">Title: {{ ani.title }}</li>
    <li *ngFor="let ani of footballersList">Age: {{ ani.age }} years</li>
    <li *ngFor="let ani of footballersList">Info: {{ ani.info }}</li>
    <li><img src="assets/Footballers.jpg" (click)="getFootballers()" /></li>
  </ul>

  <h3>Add footballers</h3>
  <form #form1="ngForm" (ngSubmit)="addFootballers(form1.value)">
    <input type="text" name="title" value="" ngModel />
    <br />
    <input type="number" name="age" value="0" ngModel />
    <br />
    <input type="text" name="info" value="" ngModel />
    <br />
    <input type="submit" value="Add Animal" />
  </form>

  <div class="uml-diagram">
    <p class="diagram-title">UML Diagram</p>
    <img src="assets/Screenshot1.jpg" />
  </div>
</div>
